//nb missing fonts !  j'ai remplacé par deux typo depuis google fonts, la déclaration et l'import sont en bas

//$font-avenir: 'Avenir Next';
//$font-avenir-light: 'Avenir Next light';
//$font-georgia: 'Georgia';

@font-face {
    font-family: "Avenir Next light";
    src: url("../fonts/Avenir_Next_W01_300.woff") format("woff"),
     url("../fonts/Avenir_Next_W01_300.woff") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Avenir Next";
    src: url("../fonts/Avenir_Next_W01_600.woff") format("woff"),
     url("../fonts/Avenir_Next_W01_600.woff") format("woff2");
    font-weight: 600;
    font-style: normal;
  }


  @font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css?family=Cairo:400,600|Source+Sans+Pro');


$font-avenir: 'Cairo';
$font-avenir-light: 'Cairo';
$font-georgia: 'Sans Pro';


