
$bg:#FAFAFA;
$darck-green:#063447;
$light-green:#55D5C6; 
$light-blue:#16546C;
$color-text:#838383;


$body-bg: $bg;
$body-color: $color-text;

$link-color: $light-green;
$link-decoration: none;
$link-hover-color: darken($link-color, 30%) ;
$link-hover-decoration: none;

$grid-gutter-width:32px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px
);