@charset "UTF-8";


//fonts
@import "./fonts";
//variables bts and grid 
@import "./var";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/bootstrap";





::selection { background: $darck-green;  color:$bg}


body{
    background:#fff;
    height: 100%;
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6{font-family: $font-avenir}




.header{
  width: 90%;
  margin: 0 auto;
  min-height:auto;
  color: #fff;
  background-color: $darck-green;
  background-image:  
    url(../images/bg-pattern.jpg),
    url(../images/bg-pattern.jpg);
  
    background-repeat: no-repeat,no-repeat;
    background-position: 0 20%,60% 85%;

    @include media-breakpoint-down(md) {
      width: 100%;
      background-image:none;
      }
 

   .left-infos{
    
   // min-height: 700px;
    height: auto;
   } 
  .navbar{
    padding: 30px 0;
  }

  .tagline{
    font-size: 60px;
    font-family: $font-georgia;
    text-align: left;
    color: inherit;
    max-width: 600px;
    line-height:1;
    margin: 20% 0;
  //  border: 1px solid red;
  @include media-breakpoint-down(sm) {
    font-size:30px;
    }
  }
  .cta-watch{
    color: #fff;
    display: flex;
    max-width: 400px;
    align-items: center;
    .fa{
      font-size: 60px;
      color: $light-green
    }

    &:hover{
      .fa{
        color: #fff;
      }
    }
    span{
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      margin-left: 30px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      }
  }


  nav{
    .navbar-collapse{
      justify-content: flex-end;
    }
    .nav-link{
      letter-spacing:1.5px;
      font-size: 12px; 
      text-transform: uppercase;
      color: #fff;
    }

    .logo-brand{
      margin-right: 5px;
    }

    .navbar-toggler{
      color: $light-green
    }

    .navbar-nav{
      @include media-breakpoint-down(sm) {
        text-align: center;
        margin-top: 15px;
        }
    }
  }

  .nav-right-infos{
    h2{
      font-family: $font-avenir;
      color: inherit;
      font-size: 16px;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 32px;
    }
    p{
      font-family: $font-georgia;
      font-size: 34px;
      line-height: 37px;
      //word-break: initial;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        
        }
    }

    a{
      color:#fff;
      font-size: 14px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      &:hover{
        i{
          transform: translateX(15px);
        }
      }
    }


    .expertise{
      background: $light-green;
      min-height: 350px;
      height: auto;
      padding: 40px;
      @include media-breakpoint-down(sm) {
        padding:  15px;
      }
      

    /*  &::after{
        content: '';
        left: 0;
        top: 0;
        right:-100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background: $light-green;
      }
    */


 
    }

    .amotus-lab{
     // background: linear-gradient(135deg, #1186A6 0%, #146A86 50%, #16546C 100%);
      background: #15637e;
      min-height: 350px;
      height: auto;
      padding: 40px;
      @include media-breakpoint-down(sm) {
        padding:  15px;
      }
      
    }

  }
}
.nous-sommes{
  background-color: $bg;
  height: 100%;
  padding: 1rem;
  display: flex; 
  align-items: stretch;
  
  .bloc-img{
    min-height: 510px;
    height: auto;
    display: flex;            
    flex-direction: column;    
    justify-content: center;  
    align-items: center;
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
      }
    
    img{
      @extend .img-fluid;
      object-fit: contain;
     
    }

  }

  .bloc-infos{
    min-height: 510px;
    height: 100%;
  h2{
    color:$light-green;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 22px;
    text-transform: uppercase;
     
  }
  p{
    max-width: 500px;
    margin-bottom: 24px;
    &.big
    {
      color: $light-blue;
      font-family: $font-georgia;
      font-size: 38px;
      letter-spacing: 0;
      line-height: 45px;
    }
    &.normal{
      color: #838383;	
      font-size: 18px;
      line-height: 26px;
      font-family: $font-avenir-light;
      margin-bottom: 54px;
    }
  
  }
  .btn{
    @extend .btn;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0 rgba(85,213,198,0.33);
    background-color: $light-green;
    color:#fff;
    letter-spacing: 1.5px;
    line-height: 20px;
    text-align: center;
    font-family: $font-avenir;
    text-transform: uppercase;
    padding:15px 45px;
    margin: 20px 0 15px 0;
    @include media-breakpoint-down(md) {
      display: block;
      margin: 0 auto;
      }
    
  }

  }

}


.footer{
  width: 90%;
  margin: 0 auto;

  background: $darck-green;
  padding: 15px;
  
  .logo{
    @include media-breakpoint-down(md) {
      text-align: center;
      }
  }
 
}


